.food-slider .splide__slide img {
  width: 100%;          /* que ocupe todo el ancho del slide */
  height: 500px;        /* altura uniforme, ajusta a tu gusto */
  object-fit: cover;    /* recorta la imagen para llenar el espacio sin deformarla */
  border-radius: 10px; 
  margin-top: 15px; /* opcional: bordes redondeados */
  margin-bottom: 15px; /* opcional: bordes redondeados */
}
