.hero {
  position: relative;
  background-image: url('/img/pollo.png'); /* cambia por tu imagen */
  background-size: cover;
  background-position: center;
  height: 60vh; /* menos alto que full screen */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4); /* oscurece la imagen */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-button {
  background-color: transparent; /* dorado */
  color: white;
  padding: 12px 24px;
  border: 2px solid white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: white;
  color: black;
}